{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "ecmascript": 6,
        "jsx": true,
        "import/extensions": [".js", ".jsx"]
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "strict": 0,
        "quotes": 0,
        "no-unused-vars": 0,
        "camel-case": 0,
        "no-underscore-dangle": 0,
        "object-curly-spacing": "always"
    }
}
